<ion-view title="main" id="page1">
  <ion-content padding="true" class="has-header">
    <a ui-sref="search" id="main-button1" style="font-weight:600;" class="button button-positive  button-block">예약</a>
    <a ui-sref="partnerList" id="main-button4" style="font-weight:600;" class="button button-positive  button-block">짐 위치 확인</a>
    <a ui-sref="partnerDetail" id="main-button2" style="font-weight:600;" class="button button-positive  button-block">내 예약</a>
    <a ui-sref="reservation" id="main-button3" style="font-weight:600;" class="button button-positive  button-block">내 정보</a>
  </ion-content>
</ion-view>