<ion-view title="partnerList" id="page3">
  <ion-content padding="true" class="has-header">
<!--
    <div id="partnerList-button-bar1" class="button-bar">
      <button id="partnerList-button9" class="button button-positive  button-block">높은가격</button>
      <button id="partnerList-button10" class="button button-positive  button-block">낮은가격</button>
      <button id="partnerList-button11" class="button button-positive  button-block">별점순</button>
    </div>
-->
    <div id="partnerList-button-bar2" style="width:100%; height:auto; margin-top:10px; margin-bottom:10px; display: table;">
      <div style="width:33%; float:left; display: table-row;" >
        <img id="partnerList-button-priceHL" style="width:100%" ng-src="images/04.partnerlist_Price H to L.png" ng-click="searchPartnerList('bagBasicPrice',false)">
      </div>
      <div style="width:33%; float:left; display: table-row;">
        <img id="partnerList-button-priceLH" style="width:100%" ng-src="images/04.partnerlist_Price L to H.png" ng-click="searchPartnerList('bagBasicPrice',true)">
      </div>
      <div style="width:33%; float:left; display: table-row;">
        <img id="partnerList-button-priceRating" style="width:100%" ng-src="images/04.partnerlist_Rating.png" ng-click="searchPartnerList('grade',false)">
      </div>
    </div>
    <div class="item item-body" id="partnerList-list-item-container2" ng-repeat="data in datas">
      <form id="partnerList-form2" class="list">
        <ion-checkbox id="partnerList-checkbox1" ng-size="10" ui-sref="partnerDetail({param : data})">{{data.partnerNm}}</ion-checkbox>
        <div id="partnerList-markdown5" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">{{data.bagBasicPrice}}//{{data.grade}}</p>
        </div>
        <div id="partnerList-container1">
          <div id="partnerList-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
            <img id="partnerList-img-arrow" style="height:100%" ng-src="images/04.partnerlist_arrow bottom.png" ng-click="toggleOption($event,data)">
          </div>
        </div>
      </form>
      <div id="partnerList-container2"  style="display:none">
        <div class="item item-body option_list" id="partnerList-list-item-container3" ng-repeat="option in data.options">
          <div id="partnerList-markdown10" class="show-list-numbers-and-dots">
            <p style="color:#000000;">{{option.detailDescription}}11</p>
          </div>
        </div>
      </div>
    </div>
   <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
