<ion-view title="paymentDetails" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="paymentDetails-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Card</p>
    </div>
    <form id="paymentDetails-form7" class="list">
      <label class="item item-select" id="paymentDetails-select4">
        <span class="input-label">Select</span>
        <select></select>
      </label>
    </form>
    <div id="paymentDetails-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Card Number</p>
    </div>
    <form id="paymentDetails-form8" class="list">
      <label class="item item-input" id="paymentDetails-input5">
        <input type="number" placeholder="">
      </label>
    </form>
    <div id="paymentDetails-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CVC No.</p>
    </div>
    <form id="paymentDetails-form9" class="list">
      <label class="item item-input" id="paymentDetails-input6">
        <input type="number" placeholder="">
      </label>
    </form>
    <div id="paymentDetails-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Expired Date</p>
    </div>
    <form id="paymentDetails-form10" class="list">
      <label class="item item-input" id="paymentDetails-input7">
        <input type="month" placeholder="">
      </label>
    </form>
    <div id="paymentDetails-markdown25" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:30px;">$ 30 </p>
    </div>
    <div id="paymentDetails-button-bar5" class="button-bar">
      <button id="paymentDetails-button26" class="button button-positive  button-block">Cancel</button>
      <button id="paymentDetails-button29" class="button button-positive  button-block">Pay</button>
    </div>
  </ion-content>
</ion-view>