<ion-view title="reservationInfo" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="reservationInfo-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">예약내역</p>
    </div>
    <div id="reservationInfo-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">EELWAY</p>

      <p style="color:#000000;">FROM : DD 공항</p>

      <pre>
        <code> AM 8:30</code>
      </pre>

      <p style="color:#000000;">TO : 신라호텔</p>

      <pre>
        <code> PM 6:30
        </code>
      </pre>
    </div>
    <ion-list id="reservationInfo-list6">
      <ion-item class="item-divider" id="reservationInfo-list-item-divider1"> 선택옵션</ion-item>
      <ion-item id="reservationInfo-list-item4">짐보호</ion-item>
    </ion-list>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>